/* line 3, ../scss/main.scss */
:root {
  --pad: 16px;
  --nav-y: 6px;
  --nav-h: 56px;
  --nav-spacing: 6px;
  --nav-size: 25px;
  --narrator-pad: 48px;
  --narrator-size: 21px;
  --intent-pad: 24px;
  --intent-size: 21px;
  --token-underline-color: rgba(0, 0, 0, 0.1);
  --slices-pad: 24px;
  --slice-pad: 16px;
  --slice-size: 31px;
  --end-margin: 12px; }

/* line 20, ../scss/main.scss */
html {
  font-family: Roboto, Helvetica, sans-serif;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent; }

/* line 30, ../scss/main.scss */
body {
  margin: 84px 0; }

@media (min-width: 800px) {
  /* line 36, ../scss/main.scss */
  :root {
    --pad: 24px;
    --nav-y: -96px;
    --nav-h: 84px;
    --nav-spacing: 12px;
    --nav-size: 42px;
    --narrator-size: 31px;
    --intent-pad: 32px;
    --intent-size: 31px;
    --slice-size: 48px;
    --slice-pad: 24px;
    --end-margin: 24px; }

  /* line 50, ../scss/main.scss */
  body {
    position: relative;
    margin: 128px auto;
    max-width: 1024px; } }
/* line 57, ../scss/main.scss */
nav {
  position: absolute;
  left: 0;
  top: var(--nav-y);
  display: block;
  width: 100%;
  height: var(--nav-h); }
  /* line 65, ../scss/main.scss */
  nav .info {
    position: absolute;
    padding: 0 var(--pad);
    height: 100%;
    line-height: var(--nav-h);
    font-size: var(--nav-size); }
    /* line 72, ../scss/main.scss */
    nav .info.player {
      left: 0; }
    /* line 80, ../scss/main.scss */
    nav .info.opponent {
      right: 0; }
    /* line 88, ../scss/main.scss */
    nav .info .name {
      display: inline-block;
      font-weight: 300;
      font-size: 0.75em;
      vertical-align: top; }
      /* line 94, ../scss/main.scss */
      nav .info .name::after {
        content: attr(data-value); }
    /* line 99, ../scss/main.scss */
    nav .info .health {
      display: inline-block;
      font-weight: 500; }
    /* line 104, ../scss/main.scss */
    nav .info.player .health::before, nav .info.opponent .health::after {
      content: attr(data-value); }
    /* line 109, ../scss/main.scss */
    nav .info.player .health::after, nav .info.opponent .health::before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      padding: 0 var(--nav-spacing);
      font-size: 0.5em;
      line-height: var(--nav-h);
      vertical-align: top;
      content: '\f004'; }

/* line 121, ../scss/main.scss */
.quotient {
  padding: 0 var(--pad); }

/* line 125, ../scss/main.scss */
.narrator {
  padding: var(--narrator-pad) 0;
  padding-bottom: 0;
  font-size: var(--narrator-size);
  font-weight: 300;
  text-align: center; }
  /* line 132, ../scss/main.scss */
  .narrator + .narrator {
    padding-top: calc(0.5 * var(--narrator-pad)); }

/* line 137, ../scss/main.scss */
.intent {
  padding: var(--intent-pad) 0;
  font-size: var(--intent-size);
  text-align: center; }
  /* line 142, ../scss/main.scss */
  .intent > :first-child:first-letter {
    text-transform: uppercase; }

/* line 147, ../scss/main.scss */
.token {
  display: inline-block; }
  /* line 150, ../scss/main.scss */
  .token::after {
    white-space: pre-wrap;
    content: ' '; }
  /* line 155, ../scss/main.scss */
  .narrator ~ .intent .token {
    cursor: pointer; }
    /* line 158, ../scss/main.scss */
    .narrator ~ .intent .token:hover {
      text-decoration: underline;
      text-decoration-color: var(--token-underline-color);
      -webkit-text-decoration-color: var(--token-underline-color); }

/* line 166, ../scss/main.scss */
.slices {
  padding: var(--slices-pad) 0;
  font-size: var(--slice-size);
  font-weight: 500; }

/* line 172, ../scss/main.scss */
.slice {
  padding: var(--slice-pad) 0;
  text-align: center;
  transition: transform 0.1s;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 179, ../scss/main.scss */
  .slice .text {
    display: inline-block; }
  /* line 183, ../scss/main.scss */
  .slice:hover {
    transform: scale(1.15); }
  /* line 187, ../scss/main.scss */
  .slice:active {
    transform: scale(1); }
  /* line 192, ../scss/main.scss */
  .slice ~ .slice.end-slice:last-child {
    margin-top: var(--end-margin); }
    /* line 195, ../scss/main.scss */
    .slice ~ .slice.end-slice:last-child .text {
      position: relative; }
      /* line 198, ../scss/main.scss */
      .slice ~ .slice.end-slice:last-child .text::before {
        position: absolute;
        left: 0;
        top: calc(-0.75 * (var(--slice-pad) + var(--end-margin)));
        display: block;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        content: ''; }

/* line 211, ../scss/main.scss */
.intent:empty ~ .slices .text:first-letter {
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
