@import 'color';

:root {
	--pad: 16px;
	--nav-y: 6px;
	--nav-h: 56px;
	--nav-spacing: 6px;
	--nav-size: 25px;
	--narrator-pad: 48px;
	--narrator-size: 21px;
	--intent-pad: 24px;
	--intent-size: 21px;
	--token-underline-color: rgba(0, 0, 0, 0.1);
	--slices-pad: 24px;
	--slice-pad: 16px;
	--slice-size: 31px;
	--end-margin: 12px;
}

html {
	font-family: $primary-font;
	background: $background-color;
	color: $black-9;
	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 84px 0;
}

@media (min-width: 800px) {

	:root {
		--pad: 24px;
		--nav-y: 0px;
		--nav-h: 84px;
		--nav-spacing: 12px;
		--nav-size: 42px;
		--narrator-size: 31px;
		--intent-pad: 32px;
		--intent-size: 31px;
		--slice-size: 48px;
		--slice-pad: 24px;
		--end-margin: 24px;
	}

	body {
		margin: 128px 0;
	}
}

nav {
	position: absolute;
	left: 0;
	top: var(--nav-y);
	display: block;
	width: 100%;
	height: var(--nav-h);

	.info {
		position: absolute;
		padding: 0 var(--pad);
		height: 100%;
		line-height: var(--nav-h);
		font-size: var(--nav-size);

		&.player {
			left: 0;

			// .name {
			// 	margin-left: var(--nav-spacing);
			// }
		}

		&.opponent {
			right: 0;

			// .health {
			// 	margin-left: var(--nav-spacing);
			// }
		}

		.name {
			display: inline-block;
			font-weight: 300;
			font-size: 0.75em;
			vertical-align: top;

			&::after {
				content: attr(data-value);
			}
		}

		.health {
			display: inline-block;
			font-weight: 500;
		}

		&.player .health::before,
		&.opponent .health::after {
			content: attr(data-value);
		}

		&.player .health::after,
		&.opponent .health::before {
			@include fas;
			padding: 0 var(--nav-spacing);
			font-size: 0.5em;
			line-height: var(--nav-h);
			vertical-align: top;
			content: '\f004';
		}
	}
}

.quotient {
	padding: 0 var(--pad);
}

.narrator {
	padding: var(--narrator-pad) 0;
	padding-bottom: 0;
	font-size: var(--narrator-size);
	font-weight: 300;
	text-align: center;

	+ .narrator {
		padding-top: calc(0.5 * var(--narrator-pad));
	}
}

.intent {
	padding: var(--intent-pad) 0;
	font-size: var(--intent-size);
	text-align: center;

	> :first-child:first-letter {
		text-transform: uppercase;
	}
}

.token {
	display: inline-block;

	&::after {
		white-space: pre-wrap;
		content: ' ';
	}

	.narrator ~ .intent & {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
			text-decoration-color: var(--token-underline-color);
			-webkit-text-decoration-color: var(--token-underline-color);
		}
	}
}

.slices {
	padding: var(--slices-pad) 0;
	font-size: var(--slice-size);
	font-weight: 500;
}

.slice {
	padding: var(--slice-pad) 0;
	text-align: center;
	transition: transform 0.1s;
	cursor: pointer;
	@include unselectable;

	.text {
		display: inline-block;
	}

	&:hover {
		transform: scale(1.15);
	}

	&:active {
		// transform: scale(0.87);
		transform: scale(1);
	}

	.slice ~ &.end-slice:last-child {
		margin-top: var(--end-margin);

		.text {
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				top: calc(-0.75 * (var(--slice-pad) + var(--end-margin)));
				display: block;
				width: 100%;
				border-top: 1px solid $black-1;
				content: '';
			}
		}
	}
}

.intent:empty ~ .slices .text:first-letter {
	text-transform: uppercase;
}