@import 'color';

:root {
	--narrator-pad: 24px;
	--narrator-size: 21px;
	--intent-pad: 24px;
	--intent-size: 21px;
	--slices-pad: 24px;
	--slice-pad: 16px;
	--slice-size: 25px;
}

html {
	font-family: $primary-font;
	background: $background-color;
	color: $black-9;
	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
}

.narrator {
	padding: var(--narrator-pad);
	padding-bottom: 0;
	font-size: var(--narrator-size);
	font-weight: 300;
	text-align: center;
}

.intent {
	padding: var(--intent-pad);
	font-size: var(--intent-size);
	text-align: center;

	> :first-child:first-letter {
		text-transform: uppercase;
	}
}

.token {
	display: inline-block;

	&::after {
		white-space: pre-wrap;
		content: ' ';
	}
}

.slices {
	padding: var(--slices-pad);
	font-size: var(--slice-size);
	font-weight: 500;
}

.slice {
	padding: var(--slice-pad) 0;
	text-align: center;
}

.intent:empty ~ .slices .slice:first-letter {
	text-transform: uppercase;
}